h1 {color:brown;
}
#ima1 {width: 70%;
}
.parte01 {background-color: rgb(25, 191, 233);
}
.parte02 {background-color: rgb(8, 160, 28);
}
.rio {color:black;
}
.rio {font-size: 150%;
}
h1 {border: 3px solid #c00808;
}

