h1 {color:rgb(233, 220, 35);
}
#ima1 {width: 70%;
}
.parte01 {background-color: rgb(25, 191, 233);
}
.parte02 {background-color: rgb(8, 160, 28);
}
.rio {color:black;
}
.rio {font-size: 100%;
}
h1 {border: 3px solid #08c011;
}

